language: generic
env:
  global:
  # Set defaults to avoid repeating in most cases
  - PYTHON_VERSION=$TRAVIS_PYTHON_VERSION
  - MAIN_CMD='python setup.py'
  - CONDA_DEPENDENCIES='sphinx pillow pyproj coveralls coverage mock aggdraw six pyshp'
  - PIP_DEPENDENCIES=''
  - SETUP_XVFB=False
  - EVENT_TYPE='push pull_request'
  - SETUP_CMD='test'
  - CONDA_CHANNELS='conda-forge'
  - CONDA_CHANNEL_PRIORITY='True'
matrix:
  include:
  - env:
    - PYTHON_VERSION=2.7
    - NUMPY_VERSION=1.16
    os: linux
  - env:
    - PYTHON_VERSION=2.7
    - NUMPY_VERSION=1.16
    os: osx
  - env: PYTHON_VERSION=3.6
    os: linux
  - env: PYTHON_VERSION=3.6
    os: osx
  - env: PYTHON_VERSION=3.6
    os: windows
    language: bash
install:
  - git clone --depth 1 git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh
script: coverage run --source=pycoast setup.py test
after_success:
- if [[ $PYTHON_VERSION == 3.6 ]]; then coveralls; fi
deploy:
- provider: pypi
  user: dhoese
  password:
    secure: M3wCEnirvwNDncuoLj8DpPFwNypLXcDGlAinNHfwZLIEzDTNrC5XhGZ3xbfmAeBGOIgJ2I6xDWJ6hYevv3HxBdgln9nJfO7tsnqisK1lxyF4/dntCJm5CLkJqM8To1o9zeht0dyZJ66fUAHfxwjXGBDoaPyEnsygWXH6vpEZ8K0=
  distributions: sdist
  skip_existing: true
  on:
    tags: true
    repo: pytroll/pycoast
notifications:
  slack: pytroll:96mNSYSI1dBjGyzVXkBT6qFt
