include docs/Makefile
recursive-include docs/source *
include pycoast/tests/*.png
include pycoast/tests/*.ttf
include LICENSE.txt
include MANIFEST.in

include versioneer.py
include pycoast/version.py
