include docs/Makefile
recursive-include docs/source *
include pycoast/tests/*.png
recursive-include pycoast/tests/test_data *
include LICENSE.txt
include MANIFEST.in

include versioneer.py
include pycoast/version.py
